<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id='store'>
  <div id='banner'>
    <%= image_tag("https://media.pragprog.com/images/cms/logos/Bookshelf_4in.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>

  </div>

  <div id="columns">
    <div id="side">
      <p style='color:orange;' ><%= Time.now %></p>
      <p><%= link_to "Home", root_path %></p>
      <p><%= link_to "Questions", root_path %></p>
      <p><%= link_to "News", root_path %></p>
      <p><%= link_to "Contact", root_path %></p>
    </div>

    <div id='main'>
      <%= yield %>
    </div>
  </div>

</body>

</html>
